<footer class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-right">
						<li> <%= link_to "About",    '#' %> </li>
						<li> <%= link_to "Contact",  '#' %> </li>
						<li> <%= link_to "News",     '#' %> </li>
			</ul>
			
			<ul class="nav pull-left">
				 <li> <%= link_to "Ruby on Rails tutorial by Kishore Manoharan",'#' %> </li>
			</ul>
			
		</div>
	</div>
</footer>
